[build]
target = "./x86_64-unknown-rustyos.json"

[unstable]
build-std = ["core", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]

[target.'cfg(target_os = "none")']
runner = ['../run_qemu.sh', '../target/x86_64-unknown-uefi/release/loader.efi']
