version: '3.7'
services:
  app:
    build:
      context: .
    volumes:
      - .:/app
      - cargo-cache:/usr/local/cargo/registry
      - target-cache:/app/target
    tty: true
volumes:
  cargo-cache:
  target-cache:
